@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: lightblue;
}

input {
  height: 50px;
  transform: scaleX(1);
  transition: transform 0.5s ease;
  border: 0;
}

input.active {
  transform: scaleX(0.2);
}

button {
  height: 50px;
  width: 50px;
  transform: translateX(0);
  transition: transform 0.5s ease;
  cursor: pointer;
  border: 0;
}
button.active {
  transform: translateX(-250%);
}
