@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fef5ed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.header {
  width: 100%;
  height: 40vh;
  background-color: #5f7161;
  color: #fef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.nav-btn {
  border-radius: 10px;
  background-color: #285430;
  color: #fef5ed;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 80px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.nav-btn:active {
  transform: scale(0.95);
  background-color: #e5d9b6;
  color: #285430;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 10px 10px;
}

.project {
  height: 260px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

img {
  height: 200px;
  width: 280px;
  border-radius: 10px;
  border: 3px solid #42855b;
}

p {
  margin: 5px 0;
}
