@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fef5ed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

.header {
  width: 100vw;
  height: 40vh;
  background-color: #5f7161;
  color: #fef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 50px;
}

.project {
  height: 220px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 170px;
  width: 230px;
  border-radius: 10px;
  border: 3px solid #42855b;
}

p {
  margin: 5px 0;
}
