@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fef5ed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

.header {
  width: 100%;
  height: 40vh;
  background-color: #5f7161;
  color: #fef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 10px;
}

.project {
  height: 260px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

img {
  height: 200px;
  width: 280px;
  border-radius: 10px;
  border: 3px solid #42855b;
}

p {
  margin: 5px 0;
}
