@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background: linear-gradient(to top, cornflowerblue 50%, lightblue 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: white;
  padding: 20px;
  border: none;
  box-shadow: 2px 3px 2px gray;
  width: 80px;
  transition: width 0.6s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.active {
  width: 400px;
}

nav ul {
  width: 0;
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: opacity 0.6s linear, transform 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
  margin: 0 10px;
}

.btn-group {
  border: none;
  background-color: white;
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
}

.btn-group .btn {
  position: absolute;
  top: 10px;
  left: 5px;
  height: 2px;
  width: 20px;
  transition: transform 0.6s linear;
  background-color: cornflowerblue;
}

.btn-group .btn2 {
  top: auto;
  bottom: 10px;
}

nav.active .btn-group .btn1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .btn-group .btn2 {
  transform: rotate(765deg) translateY(-5.5px);
}
